.box {
    width: 100px;
    height: 100px;
    background-color: cadetblue;
}

@media (min-width: 700px) {
    .box {
        width: 150px;
        height: 150px;
        background-color: darkgoldenrod;
    }
}
@media (min-width: 992px) {
    .box {
        width: 200px;
        background-color: darkgreen;
    }
}
@media (min-width: 1200px) {
    .box {
        width: 300px;
        height: 300px;
    }
}
