.box {
    padding: 5px 10px 15px 20px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 20px;

    border: 2px solid black;
    border-top: 2px dashed blue;
    border-right: 2px dotted yellow;
    border-bottom: 2px double green;
    border-left: 2px solid red;
    border-radius: 5px; /*!borde redondeado**/

    margin: 100px;

    width: 1000px; /* NO ME CAMBIA EL TAMAÑO DE CONTENIDO!!**/
    height: 500px; /* NO ME CAMBIA EL TAMAÑO DE CONTENIDO!!**/
}