/* * {
    font-size: 24px;
}
p, a, .container {
    color: blue;
}
.container p {
    color: green;
}

.container > p {
    color: red;
}*/

a:link {
    color: red;
}
a:visited {
    color: green;
}
a:hover {
    color: yellow;
}

a:active {
    color: blue;
}
p:first-child {
    color: violet;
  }
p:last-child {
    color: blueviolet;
}