
.lista-ordenada { background-color: yellow;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.lista-no-ordenada { 
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#id-personalizado { color: red;}